{% extends "base.html" %}
{% block content %}
<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

function alphanumeric(checkValue)  { 
  let alphanum = /^([0-9]|[a-z])+([0-9a-z]+)$/i;
  if(! checkValue.match(alphanum))  {
    return false;
  }
  else {
    return true;
  }

}

function checkForm (){

  let analist = document.samplesheet.analist.value;
  let samples = document.samplesheet.samples.value.split('\n');

  let error_msg = 'Computer says no!\n\n';
  let goodInfo = true



  if (analist  === "") {
    alert(error_msg + "Vul analist in.")
    return false
  }


  if (samples == "" || samples.length == 0 || samples == null){
    alert (error_msg + "Why u gimme no genes.")
    return false
  }

  

  for(var i = 0;i < samples.length;i++){
    if (samples[i] == '') {
      continue
    }
    else {
      let sample = samples[i]
      alert(sample + "Vul analist in.")
      if (sample.length != 1) {
        alert(error_msg + "te veel kolommen " + sample)
        return false
      }
      else {
        let gene = sample ;


        
        if (! alphanumeric(gene)) {
          alert(error_msg + gene + " is not a gene name.")
          goodInfo = false
        }
          }
      }
    }
  }
  return goodInfo
}
</script>
<style>
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding:2em;
      width: 50%;
      }
  </style>

<h1> {{title}} </h1>
<img class="center" src='/static/img/minions.jpeg'>

<div class="container">
  <form name="samplesheet" 
        method="post" 
        onsubmit="return checkForm()"
        enctype="multipart/form-data">
    <div class="row">
      <div class="col-25">
        <label for="lname">Analist</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="analist" value="Stuart">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Genen</label>
      </div>
      <div class="col-75">
        <textarea id="subject" 
                  name="samples" 
                  placeholder="Gene" 
                  style="height:300px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Go to BED">
    </div>
  </form>
</div>




{% endblock content %}
