<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h3>Nieuwe capture</h3>
  <form method=post name=newcap>
      <p>
          Capture:<br>
          <input type=text name=capture>
      </p>

      <p>
          OID:<br>
          <input type=number name=oid>
      </p>

      <p>
          LOT:<br>
          <input type=number name=lot>
      </p>

      <p>
          Verdund hybridiseren:
          <input type=checkbox name=verdund>
     </p>

     <p><input type=submit value='Voeg toe'></p>

  </form>
{% endblock %}
