<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/static/css/bootstrapcustom.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>AMC NGS</title>
  {% endif %}
</head>
<body width=100%>
    <div>
        <a href="{{ url_for('intro') }}"> Intro </a>
        <a href="{{ url_for('show_all_tests') }}"> Aanbod </a>
        <a href="{{ url_for('upload_labexcel') }}"> Samplesheet </a>
    {% if session['logged_in'] %}
        <a class=right href="{{ url_for('new_menu') }}"> &#x2714; Connoiseur </a>
    {% else %}
        <a class=right href="{{ url_for('new_menu') }}"> Connoiseur </a>
    {% endif %}
    </div>
    <hr style="border: 1px solid #808080;">
    {% with messages = get_flashed_messages(with_categories=true) %}

        {% for category, message in messages %}
            {% if category == 'error' %}
                <br>
                <span><strong style='color:red;font-size:40px'>Error: {{message}}</strong> </span><br>
                <br>
            {% elif category == 'warning' %}
                <br>
                <span><strong style='color:orange;font-size:40px'>LET OP: {{message}}</strong> </span><br>
                <br>
            {% else %}
                <li ><span>{{ message }}</span></li>
            {% endif %}
        {% endfor %}

    {% endwith %}
    {% block content %}{% endblock %}
</body>
<style>
.right {
    text-align: right;
    float: right;
}

</style>
</html>
