<!DOCTYPE html>
<html lang="en">
    <head>

        {% if title %} <title> {{ title }} </title>
        {% else %} <title>Amsterdam UMC NGS</title>
        {% endif %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>        

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
        
        <link rel="stylesheet" href="/static/custom.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <script type="text/javascript" src="{{ url_for('static', filename='custom.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" >

    </head>

    <nav>
        <ul class="menu-ul">
            <li class="menu-li"><a href="{{ url_for('intro') }}"> Intro </a></li>
            <li class="menu-li"><a href="{{ url_for('pipeline_explained') }}">Pipeline</a></li>            
            <li class="menu-li"><a href="{{url_for('database_explained')}}">Database</a></li>
            <li class="menu-li"><a href="{{ url_for('genesis') }}">Genesis</a></li>
            <li class="menu-li"><a href="{{ url_for('picardmetrics') }}">Picard metrics</a></li>
            <li class="menu-li"><a href="{{ url_for('callables') }}">Callable loci</a></li>
            <li class="menu-li"><a href="{{ url_for('snpcheck') }}">SNP check</a></li>
            <li class="menu-li"><a href="{{url_for('goodbye')}}">NovaSeqX</a></li>
            
        </ul>
    </nav>

    <body width=100%>
        {% block content %}
        {% endblock %}
    </body>

</html>
