<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<h1>Aanbod uitbreiden</h1>
<p>
    Het aanbod kan op verschillende manieren uitgebreid of veranderd 
    worden, maar in het geval van een volledig nieuwe test is dit 
    de volgorde van de te volgen stappen:
    <ul>
        <li>Maak capture aan</li>
        <li>Link genesicode aan capture</li>
        <li>Voeg pakket en of panel toe</li>
    </ul>
</p>

<hr>
<h2>Nieuwe capture</h2>
<p>
    Een nieuwe capture kan altijd toegevoegd worden. 
    Na het invoeren van naam/afkorting, het OID en of 
    de capture verdund gehybridiseerd dient te worden 
    kunnen de targets en de door de aanvrager aangeleverde 
    genen ingevoerd worden. De targets worden geannoteerd 
    en de uitkomst hiervan wordt vergeleken met de genlijst 
    van de aanvrager, alle discrepanties worden gerapporteerd.
</p>

<hr>
<h2>Nieuwe genesis code</h2>
<p>
    Een nieuwe genesis code moet aan een capture gelinkt worden 
    en kan dus alleen ingevoerd worden als de capture al ingevoerd 
    is. Naast deze koppeling dient de aandoening ingevoerd te worden. 
    Verder kunnen het pakket en het panel ingevoerd worden. Indien pakket 
    en panel blanco blijven worden de capturetargets gebruikt in de pipeline.
</p>

<hr>
<h2>Nieuw pakket of panel</h2>
<p>
    Een nieuw pakket of panel wordt ingevoerd door de naam van het pakket 
    of panel en de genen in het pakket of panel op te geven. Vervolgens 
    wordt opgezocht welke genesiscode  en dus capture bij het pakket of 
    panel hoort. Vervolgens worden voor de opgeven genen alle targets van 
    die capture verzameld in een targetfile voor het pakket of panel. 
    Indien het pakket of panel intergenic (dus niet intronic) gebieden 
    bevat kunnen deze als volgt in de lijst met genen worden opgenomen: 
    chr:start-stop. Pro tip: op deze manier kunnen targets die niet op de 
    capture staan toch in de te sangeren fragmenten lijst komen te staan.
</p>

<hr>
<div class="row">
        <div class="column">
            <h3>FYSIEK</h3>
            <li><a href="{{ url_for('new_capture') }}">Nieuwe capture</a> </li>
            <li><a href="{{ url_for('add_test') }}">Nieuw aanvraagformulier (genesis)</a></li>
        </div>
            
        <div class="column">
            <h3>VIRTUEEL</h3>
            <li><a href="{{ url_for('new_pakket') }}">Nieuw pakket</a></li>
            <li><a href="{{ url_for('new_panel') }}">Nieuw panel</a></li>
            <li><a href="{{url_for('link_capture')}}">Link capture aan genesis </a></li>
        </div>
    </div>


{% endblock content %}
