{% extends "base.html" %}
{% block content %}
<style>
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:2em;
    width: 50%;
    }
</style>

<img class="center" src='/static/img/minion.webp'>
<br>
<a href="{{ url_for('download', filename=filename) }}" target="blank">
    <button class="center" style="font-size:21pt;color:white;background-color:green; border:2px solid #336600;padding:3px;">
        Download {{filename}}
    </button>
</a>
{% endblock content %}

