{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function() {
  fancyTables()
})
</script>
<h1>Database</h1>

<p>
  De database bestaat uit aantal tabellen die de informatie bevatten 
  die nodig is om de pipeline correct te runnen voor een specifieke 
  genesiscode. Welke genesiscode voor welk sample gerund moet worden 
  staat in de samplesheet die ook gebruikt wordt om de MiSeq aan te 
  sturen. Voor deze genesiscode wordt uit onderstaande tabellen de 
  targetversies voor de gebruikte capture, het te gebruiken pakket
  en eventueel panel gehaald. Voor elk van deze worden 
  alle versies opgehaald waarna telkens de hoogste versie gekozen wordt. 
  Van deze versies worden de targetfiles en/of genlijst gebruikt in de pipeline.<br>
  <br>
  Daarnaast zal de pipeline voor bepaalde analyses (bijvoorbeeld CNV-diagnostiek) 
  de database raadplegen om te bepalen of deze gerund moeten worden.
</p>

<h2>Genesis</h2>

<p>
  Koppeling tussen genesiscode en capture, pakket, panel en wel of 
  niet runnen van CNV of mozaiek analyses in de pipeline.
</p>

<table id="genesis" class="display">
  <thead>
      <th>genesis</th>
      <th>capture</th>
      <th>pakket</th>
      <th>panel</th>
      <th>cnvscreening</th>
      <th>cnvdiagnostiek</th>
      <th>mozaiekdiagnostiek</th>
  </thead>
  <tbody>
    <tr>
      <td>AGP</td>
      <td>AGPPVM</td>
      <td>AGP</td>
      <td>None</td>
      <td>Wel</td>
      <td>Niet</td>
      <td>Niet</td>
    </tr>
    <tr>
      <td>ALS</td>
      <td>NEURO</td>
      <td>ALS</td>
      <td>ALS</td>
      <td>Wel</td>
      <td>Niet</td>
      <td>Niet</td>
    </tr>
    <tr>
      <td>ARTM</td>
      <td>SCD</td>
      <td>SCD</td>
      <td>None</td>
      <td>Wel</td>
      <td>Wel</td>
      <td>Niet</td>
    </tr>
    <tr>
      <td>BLALBI</td>
      <td>BH</td>
      <td>ALBI</td>
      <td>None</td>
      <td>Wel</td>
      <td>Niet</td>
      <td>Niet</td>
    </tr>
    <tr>
      <td>BLCRD</td>
      <td>BH</td>
      <td>BH</td>
      <td>CRD</td>
      <td>Wel</td>
      <td>Niet</td>
      <td>Niet</td>
    </tr>
  </tbody>
</table>

<h2>Captures</h2>

<p>
  Hierin staan alle captures inclusief versienummer met daaraan gekoppeld een OID, 
  en de genen op de capture met het betreffende versienummer. Ook de grootte van de 
  capture is hier te vinden en deze kan worden gebruikt om de verhoudingen tussen 
  verschillende captures te bepalen als deze samen gesequenced worden.
</p>

<table id="captures" class="display">
  <thead>
    <tr>
      <th>capture</th>
      <th>versie</th>
      <th>oid</th>
      <th>verdund</th>
      <th>grootte</th>
      <th>genen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AGPPVM</td>
      <td>1</td>
      <td>44292</td>
      <td>Niet</td>
      <td>307000</td>
      <td>POLD1, BMPR2, ECEL1, MLH1, MYH8, A...</td>
    </tr>
    <tr>
      <td>BH</td>
      <td>3</td>
      <td>43443</td>
      <td>Niet</td>
      <td>1267000</td>
      <td>CSPP1, TEAD1, CRX, RIMS1, MITF, ML...</td>
    </tr>
    <tr>
      <td>CHC</td>
      <td>1</td>
      <td>43442</td>
      <td>Wel</td>
      <td>154000</td>
      <td>LHX3, PROP1, SLC5A5, TRH, HOXA3, T...</td>
    </tr>
    <tr>
      <td>CM</td>
      <td>15</td>
      <td>44549</td>
      <td>Niet</td>
      <td>508000</td>
      <td>RBM20, ACTC1, PRKAG2, DSC2, PLN, P...</td>
    </tr>
    <tr>
      <td>COWSO</td>
      <td>1</td>
      <td>43135</td>
      <td>Niet</td>
      <td>76000</td>
      <td>SDHD, PIK3R2, PTEN, PIK3CA, MTOR, ...</td>
    </tr>
  </tbody>
</table>

<h2>Pakketten</h2>

<p>
    Hierin staan alle pakketten inclusief versienummer met daaraan 
    gekoppeld de genen in het pakket en de grootte van het pakket
    met het genoemde versienummer.
</p>

<table id="pakketten" class="display">
  <thead>
      <th>pakket</th>
      <th>versie</th>
      <th>grootte</th>
      <th>genen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AGP</td>
      <td>5</td>
      <td>36971</td>
      <td>ECEL1, MYBPC1, MYH3, MYH8, PIEZO2, ...</td>
    </tr>
    <tr>
      <td>VM</td>
      <td>4</td>
      <td>57106</td>
      <td>ACVRL1, ANTXR1, BMPR2, CAV1, CCM2, ...</td>
    </tr>
    <tr>
      <td>PP</td>
      <td>4</td>
      <td>71895</td>
      <td>ACVRL1, APC, AXIN2, BMPR1A, ENG, E...</td>
    </tr>
    <tr>
      <td>BH</td>
      <td>3</td>
      <td>826173</td>
      <td>ABCA4, ABCB6, ABCC6, ABHD12, ACO2, ...</td>
    </tr>
    <tr>
      <td>ALBI</td>
      <td>1</td>
      <td>64575</td>
      <td>AP3B1, BLOC1S3, BLOC1S6, C10orf11, D...</td>
    </tr>
  </tbody>
</table>

<h2>Panels</h2>

<p>
  Hierin staan alle panels inclusief versienummer met daaraan 
  gekoppeld de genen in het panel en de grootte van het panel
  met het genoemde versienummer.
</p>

<table id="panels" class="display">
  <thead>
      <th>panel</th>
      <th>versie</th>
      <th>grootte</th>
      <th>genen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LCA</td>
      <td>1</td>
      <td>52103</td>
      <td>AIPL1, CABP4, CEP290, CRB1, CRX, D...</td>
    </tr>
    <tr>
      <td>OVR</td>
      <td>1</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>RP</td>
      <td>2</td>
      <td>231550</td>
      <td>ABCA4, ADGRA3, ARL2BP, ARL6, BBS1, ...</td>
    </tr>
    <tr>
      <td>CRD</td>
      <td>2</td>
      <td>111042</td>
      <td>ABCA4, ADAM9, AIPL1, ATF6, BEST1, ...</td>
    </tr>
    <tr>
      <td>CMT</td>
      <td>3</td>
      <td>85438</td>
      <td>BSCL2, CTDP1, DCTN1, EGR2, FGD4, F...</td>
    </tr>
  </tbody>
</table>

<h2>Aandoeningen</h2>

<p>
  Koppeling tussen genesiscode en aandoening.
</p>

<table id="aandoeningen" class="display">
  <thead>
      <th>genesis</th>
      <th>aandoening</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AGP</td>
      <td>Arthrogrypose</td>
    </tr>
    <tr>
      <td>ALS</td>
      <td>Amyotrofische Laterale Sclerose</td>
    </tr>
    <tr>
      <td>ARTM</td>
      <td>Aritmie</td>
    </tr>
    <tr>
      <td>BLALBI</td>
      <td>Albinisme</td>
    </tr>
    <tr>
      <td>BLCRD</td>
      <td>ConeRod Dystrophie</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
