{% extends "base.html" %}

{% block content %}
<form method=post enctype=multipart/form-data>
   <h4>Input</h4>
   SampleID Barcode<br>
   <textarea rows=12 cols=24 name=samples></textarea> <br>
   <br>
  <h4>Readlength</h4>
  <input type=number name=readlength value=151><br>
   <br>
   <h4>Project</h4>
   <input type=text name=serie><br>
   <br><br>
   <input type=submit value='Maak samplesheet' style="font-size:21pt;color:white;
   background-color:green;border:2px solid #336600;padding:3px;">
</form>
<br>
<h1 style=color:red>NIET VOOR DIAGNOSTIEK</h1>

{% endblock content %}
