{% extends "base.html" %}
{% block content %}

<h1> AMC NGS-diagnostiek</h1><br>
<p>
<li> De gebruikte pipeline staat <a href="{{ url_for('pipeline_explained') }}">hier</a> uitgelegd. </li>
<li> De in de pipeline gehanteerde definities voor gen- en corepanels staan <a href="{{ url_for('nomenclature_explained') }}">hier</a> uitgelegd. </li>
<li> Een overzicht van diagnostische testen die de pipeline kan verwerken staat <a href="{{ url_for('show_all_tests') }}">hier.</a></li>
<br>

<br>
<table>
    <tr>
      <th> </th>
      <th>Gebruikt voor</th>
      <th>Verplicht/optioneel</th>
    </tr>
    <tr>
      <td>Capture targets</td>
      <td>CNV-analyse, picard metrics en informatieve coverage</td>
      <td>Verplicht per capture</td>
    </tr>
    <tr>
      <td>Pakket targets</td>
      <td>Bepalen te sangeren fragmenten indien geen A-kwaliteit panel</td>
      <td>Verplicht per pakket</td>
    </tr>
    <tr>
      <td>Panel targets</td>
      <td>Bepalen te sangeren fragmenten</td>
      <td>Optioneel</td>
    </tr>
    <tr>
      <td>Genregio's pakket</td>
      <td>Callen varianten </td>
      <td>Verplicht per pakket</td>
    </tr>
    <tr>
      <td>Gennamen pakket</td>
      <td>Filteren CNV's</td>
      <td>Verplicht per pakket met CNV-analyse</td>
    </tr>
<table>
</p>
<hr>
<br>
<p>
<br>
Voor CNV-detectie geldt dat elke wijziging aan een target file betekent dat alle samples opnieuw door GATK geanalyseerd moeten worden. Aangezien heranalyse computertijd kost moeten de voor CNV-analyse gebruikte targetfiles hetzelfde blijven. Om dit mogelijk te maken wordt bij het ontwerpen van de capture een targetfile gemaakt die als de capture besteld is niet meer verandert. Dit target zal gebruikt worden voor CNV-analyse zodat de data van de volledige capture gebruikt kan worden voor normalisatie. <br>
<br>
Deze targets worden geannoteerd met een gennaam zodat de targetfiles voor een pakket of panel gemaakt kunnen worden door een lijst met gennamen aan te bieden voor het betreffende pakket/panel. Een script zal voor de genen in de lijst alle targets aanwezig op de capture in een targetfile zetten die in de pipeline gebruikt kan worden volgens bovenstaande tabel. <i>Indien er targets in een pakket of panel zitten die niet binnen een gengebied vallen kunnen deze als volgt worden opgenomen in de lijst met gennamen: <b>chr:start-stop </b></i><br>
<br>
Er kan om klinische of technische redenen worden besloten om bepaalde targets niet meer (diagnostisch) aan te bieden. Indien ervoor gekozen is bepaalde genen of gebieden helemaal niet meer aan te bieden dienen deze uit de pakkettargets gehaald te worden en wordt de pakketversie aangepast. Indien ervoor gekozen is bepaalde genen of gebieden voortaan als C-kwaliteit aan te bieden dienen deze uit de paneltargets gehaald te worden en wordt de panelversie aangepast. Deze indeling maakt het dus mogelijk veranderingen aan te brengen in welke varianten en te sangeren gebieden gerapporteerd worden zonder dat dit van invloed is op de CNV-analyse. <br>
<br>
Een nieuw OID houdt in dat de capture targets gewijzigd of gebalanceerd zijn en zal resulteren in een verhoging van de capture versie. Dit kan leiden tot een verhoging van de versie(s) van een of meerdere pakketten op deze capture, maar als er bijvoorbeeld een pakket aan de capture is toegevoegd of de capture alleen gebalanceerd is kunnen de pakketversies gelijk bijven.<br>
<br>
Een nieuw lot houdt in dat de capture targets ongewijzigd blijven en dus het versienummers gelijk blijft. Indien er op de betreffende capture een of meerdere pakketten staat/staan waarvoor CNV-analyse plaatsvindt zal de connaiseur bepalen of het nieuwe lot een voldoende vergelijkbaar coverageprofiel heeft om aan het bestaande archief toegevoegd te worden.<br>
<br>
Welke versie bij welke test hoort wordt bijgehouden in een <a href={{url_for('database_explained')}}>database</a>. Hier wordt ook in aangegeven welke analyses voor een test gerund moeten worden.
</p>
{% endblock %}
