<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<h4>Genen wel aangevraagd, niet in targets</h4>
<p>
    {% if notfound %}
        {% for gen in notfound %}
            {{ gen }}
        {% endfor %}

    {% else %}
        Geen
    {% endif %}
    <hr>
</p>
<h4>Genen niet aangevraagd, wel in targets</h4>
<p>
    {% if notfound %}
        {% for gen in notrequested %}
            {{ gen }}
        {% endfor %}

    {% else %}
        Geen
    {% endif %}
</p>
{% endblock %}
