<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<h1> {{ todo.aandoening }} </h1><br>
<table with=60%>
    <tr>
        <th colspan=2>Pipeline targets en analyses</th>
    </tr>
    <tr>
        <td>Genpakket: </td>
        <td>{{todo.pakket}}</td>
    </tr>
    <tr>
        <td>Type A panel: </td>
        <td>{{todo.panel}}</td>
    </tr>
    <tr>
        <td>CNV screening:</td>
        <td>{{'Ja' if todo.cnvscreening else 'Nee'}}</td>
    </tr>
    <tr>
        <td>CNV diagnostiek: </td>
        <td>{{'Ja' if todo.cnvdiagnostiek else 'Nee'}}</td>
    </tr>
    <tr>
        <td>Mozaiek diagnostiek: </td>
        <td>{{'Ja' if todo.mozaiekdiagnostiek else 'Nee'}}</td>
    </tr>
</table>
<br>
{% if todo.pakket %}
    <hr>
    <h2>{{todo.pakket}} genen</h2>
    <p>
        A-kwaliteit in groen.
        <form action="" method=post enctype=multipart/form-data>
              <input type="submit" name="genes" value="Download">
        </form>
        <br>
        {% if todo.panel %}
            {% for grootte, genen in info.pakketten[todo.pakket]  %}
                {%  for gen in genen %}
                    <font color=green>
                        {{ gen if gen in info.panels[todo.panel][0][1]}}
                    </font>
                    {{ gen if gen not in info.panels[todo.panel][0][1]}}

                {% endfor %}
            {% endfor %}
        </p>
    {% elif not todo.panel %}
            {% for grootte, genen in info.pakketten[todo.pakket] %}
                {% for gen in genen %}
                    <font color=green>
                        {{ gen }}
                    </font>
                {% endfor %}
            {% endfor %}
        </p>
    {% endif %}
{% endif %}

<hr>
<h3>Captures</h3>
<table width=60%>
    <col width=15%>
    <col width=10%>
    <col width=10%>
    <col width=10%>
    <col width=10%>
    <col width=10%>

    <tr>
        <th>Versie</th>
        <th>OID</th>
        <th>LOT</th>
        <th>verdund</th>
        <th>grootte</th>
        <th>target </th>
    </tr>
    {% for capture in info.captures  %}
        {% for oid, lot, verdund, grootte in info.captures[capture]  %}
            <tr>
                <td>{{capture}}</td>
                <td>{{oid}}</td>
                <td>{{lot}}</td>
                <td>{{'Ja' if verdund else 'Nee' }}</td>
                <td>{{'{:,}'.format(grootte)}}</td>
                <td>
                    <form action="" method=post enctype=multipart/form-data>
                      <input type="submit" name="{{capture}}:captures" value="Download">
                  </form>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<hr>
<h3>Pakketten</h3>
<table width=40%>
    <col width=15%>
    <col width=15%>
    <col width=10%>
    <col width=10%>
    <tr>
        <th>Versie</th>
        <th>grootte</th>
        <th># genen</th>
        <th>target</th>
    </tr>
    {% for pakket in info.pakketten  %}
        {% for grootte, genen in info.pakketten[pakket]  %}
            <tr>
                <td>{{pakket}}</td>
                <td>{{'{:,}'.format(grootte) if grootte is not none else ''}}</td>
                <td>{{genen|length}}</td>
                <td>
                    <form action="" method=post enctype=multipart/form-data>
                      <input type="submit" name="{{pakket}}:pakketten" value="Download">
                  </form>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

{% if todo.panel %}
    <hr>
    <h3>Panels</h3>
<table width=40%>
    <col width=15%>
    <col width=15%>
    <col width=10%>
    <col width=10%>
        <tr>
        <th>Versie</th>
        <th>grootte</th>
        <th># genen</th>
        <th>target</th>
    </tr>
    {% for panel in info.panels  %}
        {% for grootte, genen in info.panels[panel]  %}
            <tr>
                <td>{{panel}}</td>
                <td>{{'{:,}'.format(grootte) if grootte is not none else ''}}</td>
                <td>{{genen|length}}</td>
                <td>
                    <form action="" method=post enctype=multipart/form-data>
                      <input type="submit" name="{{panel}}:panels" value="Download">
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endif %}

{% endblock %}
