<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>AMC diagnostiek</h1>
<table>
  <tr>
    <th>Genesiscode </th>
    <th>Capture </th>
    <th>Pakket </th>
    <th>Panel </th>
    <th>Aandoening </th>
  </tr>
  {% for test, data in tests.items() %}
  <tr>
      <td><li><a href="{{ url_for('show_testinfo', test=test) }}">{{test}}</a></li></td>
      <td><a href="{{ url_for('show_tests_for_cap', cap=data.capture) }}">{{data.capture}}</a></td>
      <td>{{data.pakket}} </td>
      <td>{{data.panel }}</td>
      <td>{{data.aandoening}}</td>
{% endfor %}
  </tr>
</table>


{% endblock %}
