<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1 >AANBOD</h1>
<hr>
<h2 >Analyses</h2>
<p>
  De standaard pipeline alignt reads tegen het referentiegenoom, callt
  varianten en rapporteert (gebrek aan) coverage en andere voor diagnostiek
  relevante informatie. Deze pipeline wordt voor alle pakketten gerund,
  voor sommige pakketten wordt ook een extra analyse gerund. 
  Klik <a href="{{ url_for('pipeline_explained') }}">hier</a> 
  voor meer informatie over de pipeline.
</p>
<hr>
<h2>Genpakketten</h2>
<br>
<table>
  <tr>
    <th>Genesiscode </th>
    <th>Capture </th>
    <th>Pakket </th>
    <th>Panel </th>
    <th>Aandoening</th>
  </tr>
  {% for test, data in tests.items() %}
  <tr>
      <td><a href="{{ url_for('show_testinfo', genesis=test) }}">{{test}}</a></td>
      <td><a href="{{ url_for('show_tests_for_cap', cap=data.capture) }}">{{data.capture}}</a></td>
      <td>{{data.pakket}} </td>
      <td>{{data.panel if data.panel is not none else '' }}</td>
      <td>{{data.aandoening if data.aandoening is not none else '' }}</td>
  </tr>
  {% endfor %}
  
</table>
{% endblock content %}
