{% extends "base.html" %}

{% block content %}
<h3>Samplesheet voor MiSeq</h3>
<br>
<form method=post enctype=multipart/form-data>
   <h4>Input</h4>
   SampleID  Barcode  Genesiscode <br>
   <textarea rows=12 cols=24 name=samples></textarea> <br>
   <br>
   <h4>Serienummer</h4>
   <input type=number name=serie><br><br>
   <h4>Analist</h4>
   <input type=text name=analist value='Robert'><br>
   <br><br>
   <input type=submit value='Maak samplesheet' style="font-size:21pt;color:white;
   background-color:green;border:2px solid #336600;padding:3px;">
</form>
{% endblock content %}
