<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Nieuwe capture</h1>
  <form action="" method="post" name="newcap">
      {{ form.hidden_tag() }}
      <p>
          Capture:<br>
          {{ form.capture(size=80) }}<br>
          {% for error in form.capture.errors %}
              <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>

            Targetfile:<br>
            {{ form.capturetarget }}<br>
            {% for error in form.capturetarget.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            File met gennamen:<br>
            {{ form.capturegenen}}<br>
            {% for error in form.capturegenen.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
      </p>
      <p>
          OID:<br>
          {{ form.oid(size=80) }}<br>
          {% for error in form.oid.errors %}
              <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>

      <p>
          LOT:<br>
          {{ form.lotnummer(size=80) }}<br>
          {% for error in form.lotnummer.errors %}
              <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>

      <p><input type="submit" value="Voeg toe"></p>
  </form>
{% endblock %}
